{% extends "base.html" %} 

{% block body %} 

<p></p>
The DICE Data Collector enables the use of customer data to model successful outcomes based on business benefits. 
<p></p>
The Data Collector for DICE is deployed in a customer environment to collect data from vRealize Operations Manager.
<p></p>
The following data is collected:
<p></p>
<ul>
    <li>Virtual Machine Object Properties and Metrics</li>
    <li>Host Machine Object Properties and Metrics</li>
    <li>Cluster Object Metrics</li>
    <li>Distributed Virtual Switch Object Metrics</li>
    <li>Portgroup Object Metrics</li>
    <li>Datastore Object Metrics</li>
</ul>
<p></p>
All of this data is dumped into a JSON formatted file that can be uploaded into the DICE tool.


{% endblock %}
