{% extends "base.html" %} 

{% block body %} 

<h4>Please enter connection and credentials for one of the endpoints below:</h4>

<div class="clr-row">
    <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
        <form role="form" name="vrops-connect" id="vrops-connect" method="POST" action="{{ url_for('vrops_connect') }}">
            <div class="card">
                <div class="card-header">
                    vRealize Operations Manager
                </div>
                <div class="card-block">
                    <div class="card-text">
                        <section class="form-block">
                            {{ vrops_form.csrf_token }}
                            <div class="form-group">
                                {{ vrops_form.host.label }}
                                {{ vrops_form.host(class="clrInput", placeholder="vrops.company.org") }}
                                <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg">
                                    <clr-icon shape="info-circle" size="24"></clr-icon>
                                    <span class="tooltip-content">Please provide the FQDN of the vROPs Master ex: vrops.company.org</span>
                                </a>
                            </div>
                            <div class="form-group">
                                {{ vrops_form.user.label }}
                                {{ vrops_form.user(class="clrInput", placeholder="Username") }}
                                <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg">
                                    <clr-icon shape="info-circle" size="24"></clr-icon>
                                    <span class="tooltip-content">Please provide a username that has access to read data from vROPs.</span>
                                </a>
                            </div>
                            <div class="form-group">
                                {{ vrops_form.pwd.label }}
                                {{ vrops_form.pwd(class="clrInput", placeholder="Password") }}
                                <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg">
                                    <clr-icon shape="info-circle" size="24"></clr-icon>
                                    <span class="tooltip-content">Please provide the password for the username.</span>
                                </a>
                            </div>
                            <div class="form-group">
                                {{ vrops_form.customer_id.label }}
                                {{ vrops_form.customer_id(class="clrInput", placeholder="CUST-##################") }}
                                <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg">
                                    <clr-icon shape="info-circle" size="24"></clr-icon>
                                    <span class="tooltip-content">Please provide the Customer ID</span>
                                </a>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="card-footer">
                    <span>{{ vrops_form.submit(class="btn btn-primary center") }}</span>
                    <span>{{ vrops_form.submit(class="btn btn-primary center disabled", value="Test Connection") }}</span>
                    <span>Put Connection Message Here</span>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="clr-row">
    <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
        <form role="form" name="vcenter-connect" id="vcenter-connect" method="POST" action="{{ url_for('vcenter_connect') }}">
            <div class="card">
                <div class="card-header">
                    vCenter Server
                </div>
                <div class="card-block">
                    <div class="card-text">
                        <section class="form-block">
                            {{ vcenter_form.csrf_token }}
                            <div class="form-group">
                                {{ vcenter_form.host.label }}
                                {{ vcenter_form.host(class="clrInput", placeholder="vcenter.company.org") }}
                                <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg">
                                    <clr-icon shape="info-circle" size="24"></clr-icon>
                                    <span class="tooltip-content">Please provide the FQDN of the vCenter ex: vcenter.company.org</span>
                                </a>
                            </div>
                            <div class="form-group">
                                {{ vcenter_form.user.label }}
                                {{ vcenter_form.user(class="clrInput", placeholder="Username") }}
                                <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg">
                                    <clr-icon shape="info-circle" size="24"></clr-icon>
                                    <span class="tooltip-content">Please provide a username that has access to read data from vCenter.</span>
                                </a>
                            </div>
                            <div class="form-group">
                                {{ vcenter_form.pwd.label }}
                                {{ vcenter_form.pwd(class="clrInput", placeholder="Password") }}
                                <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg">
                                    <clr-icon shape="info-circle" size="24"></clr-icon>
                                    <span class="tooltip-content">Please provide the password for the username.</span>
                                </a>
                            </div>
                            <div class="form-group">
                                {{ vcenter_form.customer_id.label }}
                                {{ vcenter_form.customer_id(class="clrInput", placeholder="CUST-##################") }}
                                <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg">
                                    <clr-icon shape="info-circle" size="24"></clr-icon>
                                    <span class="tooltip-content">Please provide the Customer ID</span>
                                </a>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="card-footer">
                    <span>{{ vcenter_form.submit(class="btn btn-primary center disabled") }}</span>
                    <span>{{ vcenter_form.submit(class="btn btn-primary center disabled", value="Test Connection") }}</span>
                    <span>Put Connection Message Here</span>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}
